{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      PlaceMark : Store and organise all your faviourite locations </p>
    <p class="box">
      <i class="fa-solid fa-map-pin fa-10x" style="color:rgb(219, 5, 5)"></i>
      <i class="fas fa-plus fa-4x" style="color:rgb(126, 126, 126)"></i>
      <i class="fa-solid fa-earth-americas fa-10x" style="color:green"></i>
    </p>
  </div>
</section>
