{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{folder.title}}
    </div>
    {{> list-locations}}
    {{> add-location}}
  </div>
  <div class="column">
    {{> folder-image}}
  </div>
</section>
