{{#each folders}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{title}}
    </h2>
    <a href="/folder/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fa-solid fa-folder-open"></i>
      </span>
    </a>
    <a href="/dashboard/deletefolder/{{_id}}" class="button">
      <i class="fa-solid fa-trash-can"></i>
    </a>
  </div>
{{/each}}
